@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

section {
  @apply py-20;
}

.slick-dots {
  color: #1A21BC;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #1A21BC !important;
}

.slick-dots li button:before {
  font-size: 11px !important;
}

/* .input {
  @apply w-full border border-gray-300 rounded-lg px-3 py-2
  focus:outline-none focus:ring-2 focus:ring-black;
}

.error {
  @apply text-red-500 text-sm mt-1;
} */


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out forwards;
}

.input {
  @apply w-full border border-gray-300 rounded-lg px-3 py-2
  focus:outline-none focus:ring-2 focus:ring-black;
}

.error {
  @apply text-red-500 text-sm mt-1;
}
